/*编辑视图的标题背景色和文字色*/
.HyperMD-header.HyperMD-header-1.cm-line{
    background-color:#A41F1F ;
    color:white;
}

.HyperMD-header.HyperMD-header-2.cm-line{
    background-color:#A41F1F ;
    color:white;
}

.HyperMD-header.HyperMD-header-3.cm-line{
    background-color:#A41F1F ;
    color:white;
}

/*阅读视图的标题背景色和文字色*/
h1 {
    background-color:#A41F1F ;
    color:white;   
}

h2 {
    background-color:#A41F1F ;
    color:white;   
}

h3 {
    background-color:#A41F1F ;
    color:white;   
}